body{
    background:rgb(241, 240, 240);
}
.barre-de-navigation{
    background:#CE0033;
    justify-content: space-between;
}
.recherche{
    border-radius: 11px;
}
.line{
    color: darkgray;
    padding:1px;
}




